rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /songs/{allPaths=**} {
      // Allow any authenticated user to read and write song media.
      // This includes users signed in anonymously.
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}